body {
  width: auto;
  height: 1200px;
  margin: 0px;
  padding: 0px;

  background: rgba(0, 0, 0, 0.9);
  opacity: 1;
  z-index: 0;

  animation-name: buddy;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes buddy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.python-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("python_wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

/*Top black banner with nav*/
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  z-index: 2;
}

/*img & animation*/
.pics {
  margin: 5px 35px;
  width: 18%;
  display: flex;
  align-items: center;
}

img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  /*width: 220px;
  height: 100px;*/
}

.anim-pic {
  animation-name: maf;
  animation-delay: 0s;
  animation-duration: 2s;
}

@keyframes maf {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(180deg);
    opacity: 0.7;
  }
  50% {
    transform: rotateY(360deg);
    opacity: 0.5;
  }
  75% {
    transform: rotateX(0deg);
    opacity: 0.7;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}



/*First nav of this page*/
.first-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-nav nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.first-nav nav ul li {
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.first-nav nav ul li a {
  font-family: 'One-serif';
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.first-nav a:hover {
  color: gold;
  transform: scale(1.1);
}










/*This is the left aside*/
.class--aside {
  position: fixed;
  top: 0px;
  height: 100vh;
  margin-left: 20%;
  border-right: 2px solid lightgreen;
  z-index: -1;
}

aside {
  position: fixed;
  margin-top: 5%;
  width: 20%;

  animation-name: animside;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#aside-nav h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;

  font-family: "One-serif";
  font-weight: bold;
  font-size: 1.6rem;

  color: lightgreen;
  /*text-shadow: 1px 1px 0px black;*/
}

#aside-nav h3 {
  margin: 10px 0px;
  color: lightgreen;
}

#aside-nav ul {
  list-style: none;
  padding: 0;
}

#aside-nav li {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgreen;
}

#aside-nav a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Times", sans-serif;
  font-size: 0.9rem;
  color: white;
}

#aside-nav a:hover {
  color: orange;
}

#aside-nav i {
  color: silver;
}

@keyframes animside {
  0% {
    transition: 2s;
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transition: 2.5s;
    transform: translateX(0px);
    opacity: 1;
  }
}









/*article of the middle page*/
.first-article {
  position: relative;
  margin: auto;

  top: 7%;

  margin-left: 22%;
  transform: ease-in 2s;
} 

h2 {
  font-size: 2rem;
  font-family: "One-serif";
  color: lightgreen;
  /*text-shadow: 1px 1px 0px lightgreen;*/

  animation-name: artitle;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.art-p {
  margin: auto;
  margin: 20px 20px;
  margin-right: 40px;
  padding: 10px 20px;

  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  color: white;

  border: 1px solid lightgreen;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 5px black;
  background: rgba(0, 0, 0, 0.3);

  visibility: visible;

  animation-name: animptag;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.art-pmiddle {
  margin: auto;
  margin: 20px 20px;
  margin-right: 40px;
  padding: 10px 20px;

  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  color: white;

  border: 1px solid lightgreen;
  box-shadow: 2px 2px 5px black;
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;

  animation-name: animptag;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.art-pfinal {
  margin: auto;
  margin: 20px 20px;
  margin-right: 40px;
  padding: 10px 20px;

  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: white;

  border: 1px solid lightgreen;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 5px black;
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;

  animation-name: animptag;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

/*Animations of article & p*/
@keyframes artitle {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animptag {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}










.second-art {
  position: relative;

  top: 7%;
  margin-left: 22%;
}

.second-art ul {
  margin: 20px 20px;
  margin-right: 40px;
  padding: 10px 20px;

  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: white;

  border: 1px solid lightgreen;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;

  animation-name: artitletwo;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.secnav--art h3 {
  color: lightgreen;
}

.secnav--art li a {
  display: flex;
  align-items: center;

  /*display: list-item;
  list-style-type: circle;
  list-style-position: inside;*/
}

.secnav--art li {
  margin-left: 40px;
}

.secnav--art a {
  visibility: visible;

  animation-name: artitletwo;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.secnav--art p {
  animation-name: artitletwo;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

@keyframes artitletwo {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}








/*Bottom black banner with nav*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: black;
}

#last-nav {
  display: flex;
  justify-content: center;
}

#last-nav > ul {
  /*stack black boder*/
  margin: 0px 0px;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#last-nav > ul > li {
  margin: auto;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  color: white;
}

#last-nav > ul > li > a {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "One-serif";
  font-size: 1.4rem;
  color: white;
}

#last-nav a:hover {
  color: gold;
  transform: scale(1.1);
}

#main--cc {
  display: flex;
  justify-content: right;
}

.cc {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.cc img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  border: none;
}

.cc p {
  margin: auto;
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  body {
    height: 150%;
  }

  .python-bg {
    position: none;
    background-position: center;
  }
  .pics {
    width: 26%;
    align-items: center;
    margin: 2px 2px;
  }
  img {
    width: 100%;
    height: 50%;
  }
  .first-nav nav ul li a {
    font-size: 1rem;
  }
  .class--aside {
    display: none;
  }

  aside {
    display: none;
  }
  .first-article {
    position: none;
    margin: auto;
    top: 100px;
    padding-left: 20px;
  }
  .firstnav-art p {
    font-size: 0.8rem;
  }

  .second-art {
    position: none;
    margin: auto;
    padding-left: 20px;
    margin-top: 140px;
    margin-bottom: 110px;
  }

  .secnav--art p {
    font-size: 0.8rem;
  }

  .secnav--art a {
    font-size: 0.8rem;
  }

  #last-nav > ul > li > a {
    font-size: 1rem;
  }
  .cc img {
    width: 15px;
    height: 15px;
  }
  .cc p {
    font-size: 0.6rem;
  }
}
