body
{
    background: orange;
}

.pics
{
    margin: 20% 40%;
}

img
{
    width: 300px;
    min-height: 200px;
}

.mafame
{
    animation-name: maf;
    animation-delay: 1s;
    animation-duration: 4s;
}

@keyframes maf {
    0% {
        transform: rotateY(0deg);
        opacity: 0.7;
    }
    25% {
        transform: rotateY(180deg);
        opacity: 0.3;
    }
    50% {
        transform: rotateY(360deg);
        opacity: 0;
    }
    75% {
        transform: rotateX(0deg);
        opacity: 0.3;
    }
    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

