body {
  width: 100%;
  height: 1300px;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, hsla(25, 100%, 50%, 1),60%,
    lightgoldenrodyellow);

  animation-name: buddy;
  animation-duration: 3s;
  animation-delay: 0s;
  opacity: 1;
}

@keyframes buddy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Top black banner with nav*/
header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100px;

  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  z-index: 2;
}

#frameimg {
  position: fixed;
  margin-left: 100px;

  width: 100%;
  height: 100%;

  background-image: url("frameleaf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-size: 80%;

  opacity: 0.5;

  z-index: -1;

  animation-name: githubanim;
  animation-delay: 0s;
  animation-duration: 3s;
  transform: translateY(0px);
}

/*img & animation*/
.pics {
  margin: 5px 35px;
  width: 18%;
  display: flex;
  align-items: center;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  /*width: 220px;
  height: 100px;*/
}

.anim-pic {
  animation-name: maf;
  animation-delay: 0s;
  animation-duration: 2s;
}

@keyframes maf {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(180deg);
    opacity: 0.7;
  }
  50% {
    transform: rotateY(360deg);
    opacity: 0.5;
  }
  75% {
    transform: rotateX(0deg);
    opacity: 0.7;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

/*First nav of this page*/
.first-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-nav nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.first-nav nav ul li {
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.first-nav nav ul li a {
  font-family: 'One-serif';
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.first-nav a:hover {
  color: gold;
  transform: scale(1.1);
}





/*This is the left aside*/
.class--aside {
  position: fixed;
  top: 0px;
  height: 100vh;
  margin-left: 20%;
  border-right: 2px solid white;
  box-shadow: 0px 0px 5px grey;
  z-index: -1;
}

aside {
  position: fixed;
  margin-top: 7%;
  width: 20%;
  z-index: 1;

  animation-name: animside;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#aside-nav h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;

  font-family: "One-serif", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;

  color: orange;
  text-shadow:
  2px 1px 0px darkorange,
  3px 2px 1px brown; 
}

#aside-nav h3 {
  margin: auto;
  margin-left: 0px;
  font-family: Snell Roundhand, cursive;
  font-size: 1.2rem;
  color: orange;
  text-shadow:
  2px 1px 0px darkorange,
  3px 2px 1px brown;
}

#aside-nav ul {
  list-style: none;
  padding: 0;
}

#aside-nav li {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
}

#aside-nav a {
  margin-left: 10px;
  text-decoration: none;
  /*font-style: italic;*/
  font-size: 0.9rem;
  color: black;
}

#aside-nav a:hover {
  color: blue;
}

#aside-nav i {
  color: silver;
}

@keyframes animside {
  0% {
    transition: 2s;
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transition: 2.5s;
    transform: translateX(0px);
    opacity: 1;
  }
}






/*article of the middle page*/
article {
  position: relative;
  margin: auto;

  top: 8%;

  margin-left: 22%;
  transform: ease-in 2s;
} 

article h2 {
  font-size: 2rem;
  font-family: "One-serif";
  color: orange;
  text-shadow: 1px 1px 0px rosybrown;

  animation-name: artitle;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

article p {
  margin: auto;
  font-size: 1.4rem;
  font-family: 'Consolas', sans-serif;
  padding: 10px 20px;
  text-indent: 20px;
  text-align: justify;
  margin: 20px 20px;
  margin-right: 40px;
  font-size: 1rem;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkgoldenrod;
  color: #660080;
}

.art-fp {
  background: linear-gradient(340deg, #ffab67, 80%,
    lightgoldenrodyellow);
  visibility: visible;
  animation-name: art-fp;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.art-fptwo {
  background: linear-gradient(340deg, #ffab67, 92%,
    lightgoldenrodyellow);
  visibility: visible;
  animation-name: artitletwo;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.art-fpthree {
  background: linear-gradient(340deg, #ffab67, 98%,
    lightgoldenrodyellow);
  visibility: visible;
  animation-name: artitlethree;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

/*Animations of article & p*/
@keyframes artitle {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes art-fp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes artitletwo {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes artitlethree {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}






hr {
  margin-top: 50px;
  margin-right: 210px;
  margin-bottom: 50px;
  margin-left: 170px;
  color: white;
}

#video--title {
  margin: auto;
  margin-top: 10px;
}

#video--title h2 {
  color: palegoldenrod;
  text-shadow: 1px 1px 0px grey;
}

#allvideos {
  height: 500px;

  display: grid;
  grid-template-columns: 1Fr 1Fr 1Fr;
  grid-template-rows: 1Fr 1Fr 1Fr;
  grid-column-gap: 0.5Fr;
  grid-row-gap: 0.5Fr;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videos legend {
  margin: 10px 0px;
  color: purple;
}

#video-1 {
  margin-left: 0px;
}

#video-4 {
  margin-left: 0px;
}







/*Leaves animation*/
@-webkit-keyframes sway { 
  0% { 
    transform: rotateZ(-15deg) rotateX(55deg);
  }
  30% {
    transform: rotateZ(20deg) rotateX(60deg);
    animation-timing-function: ease-in-out;
  }
  60% { 
    transform: rotateZ(-20deg) rotateX(55deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateZ(0deg) rotateX(60deg);
    animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.535);
    }
}

@keyframes sway { 
  0% { 
    transform: rotateZ(-15deg) rotateX(55deg);
  }
  30% {
    transform: rotateZ(20deg) rotateX(60deg);
    animation-timing-function: ease-in-out;
  }
  60% { 
    transform: rotateZ(-20deg) rotateX(55deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateZ(0deg) rotateX(60deg);
    animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.535);
    }
}

@-webkit-keyframes fall { 
  60% {
    filter: drop-shadow(0px 60px 40px rgba(0,0,0,0));
  }
  100% {
    margin-top: 650px;
    filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.6));
  }
}

@keyframes fall { 
  60% {
    filter: drop-shadow(0px 60px 40px rgba(0,0,0,0));
  }
  100% {
    margin-top: 650px;
    filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.6));
  }
}

@-webkit-keyframes timeleaf { 
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes timeleaf { 
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#autumn-container {
  position: absolute;
  width: 98%;
  top: 100px;
  height: 77vh;

  overflow: hidden;
  perspective: 1800px;
  opacity: 0;

  /*border: 2px solid white;*/

  animation-name: timeleaf;
  animation-duration: 12s;
  animation-delay: 0s;
}

img[alt="autumn leaf"] {
  position: absolute;

  /*width: 10%;
  height: 30%;*/

  transform-origin: 0px -150px 0px;

  -webkit-animation-name: fall, sway;
  -webkit-animation-duration: 7s, 8s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: linear, ease-in-out;

  animation-name: fall, sway;
  animation-duration: 7s, 8s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}







/*Bottom black banner with nav*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: black;
}

#last-nav {
  display: flex;
  justify-content: center;
}

#last-nav > ul {
  /*stack black boder*/
  margin: 0px 0px;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#last-nav > ul > li {
  margin: auto;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  color: white;
}

#last-nav > ul > li > a {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "One-serif";
  color: white;
}

#last-nav a:hover {
  color: gold;
  transform: scale(1.1);

}

#main--cc {
  width: 100%;
  display: flex;
  justify-content: right;
}

.cc {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.cc img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  border: none;
}

.cc p {
  margin: auto;
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  body {
    height: 350vh;
  }
  .pics {
    width: 26%;
    align-items: center;
    margin: 2px 2px;
  }
  img {
    width: 100%;
    height: 70%;
  }
  .first-nav nav ul li a {
    font-size: 1rem;
  }
  .class--aside {
    display: none;
  }
  aside {
    display: none;
  }
  article{
    position: none;
    margin: auto;
    padding-left: 20px;
  }
  .second-art {
    position: none;
    margin: auto;
    padding-left: 20px;
    margin-bottom: 110px;
  }
  #last-nav > ul > li > a {
    font-size: 1rem;
  }
  .cc img {
    width: 15px;
    height: 15px;
  }
  .cc p {
    font-size: 0.6rem;
  }
}
