body {
  width: auto;
  height: 110vh;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, orange,60%,
    lightgoldenrodyellow);

  animation-name: buddy;
  animation-duration: 3s;
  animation-delay: 0s;
  opacity: 1;
}

@keyframes buddy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Top black banner with nav*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
}

/*img & animation*/
.pics {
  width: 24%;
  display: flex;
  align-items: center;
  margin: 5px 5px;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  /*width: 220px;
  height: 100px;*/
}

.anim-pic {
  animation-name: maf;
  animation-delay: 0s;
  animation-duration: 2s;
}

@keyframes maf {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(180deg);
    opacity: 0.7;
  }
  50% {
    transform: rotateY(360deg);
    opacity: 0.5;
  }
  75% {
    transform: rotateX(0deg);
    opacity: 0.7;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}



/*First nav of this page*/
.first-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-nav nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.first-nav nav ul li {
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.first-nav nav ul li a {
  font-family: 'One-serif';
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

.first-nav a:hover {
  color: gold;
  transform: scale(1.1);
}









/*This is the left aside*/
.class--aside {
  position: fixed;
  top: 0px;
  height: 100vh;
  margin-left: 20%;
  border-right: 2px solid black;
  z-index: -1;
}

aside {
  position: fixed;
  width: 20%;
  
  animation-name: animside;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#aside-nav h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;

  font-family: "One-serif";
  font-weight: bold;
  font-size: 1.6rem;

  color: darkorange;
  /*text-shadow: 1px 1px 0px black;*/
}

#aside-nav h3 {
  margin: auto;
  margin-left: 5px;
  color: darkorange;
}

#aside-nav ul {
  list-style: none;
  padding: 0;
}

#aside-nav li {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

#aside-nav a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Times", sans-serif;
  font-size: 0.9rem;
  color: black;
}

#aside-nav a:hover {
  color: blue;
}

#aside-nav i {
  color: silver;
}

@keyframes animside {
  0% {
    transition: 2s;
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transition: 2.5s;
    transform: translateX(0px);
    opacity: 1;
  }
}






/*main with certifications*/
.main--class {
  position: absolute;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-left: 22%;
  transform: ease-in 2s;
}

.main--class h2 {
  font-size: 2rem;
  font-family: "One-serif";
  color: orange;
  text-shadow: 1px 1px 0px rosybrown;

  animation-name: artitle;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.navbar {
  padding: 10px 20px;
  margin: 20px 20px;
  margin-right: 40px;
  
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2rem;
  text-indent: 10px;
  text-align: justify;

  border: 1px solid lightgoldenrodyellow;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkgoldenrod;
  visibility: visible;

  animation-name: navanim;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in 1s;
}

.navbar ul {
  padding-left: 10%;
  /*list-style: none;
  padding: 0;*/
}

.navbar li {
  padding-top: 2%;
  padding-bottom: 2%;

  list-style-type: disc;
  color: blue;
}

.navbar li a {
  display: flex;
}

.navbar a {
  padding-top: 2%;
  padding-bottom: 2%;

  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  
  border-bottom: 2px solid white;
  box-shadow: 10px 10px 10px 3px darkgoldenrod;
}

.navbar a:hover {
  color: white;
}

/*Animations for h2*/
@keyframes artitle {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*Animations for navbar*/
@keyframes navanim {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  50% {
    filter: blur(1.4px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}








/*Bottom black banner with nav*/
footer {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  background: black;
}

#main--cc {
  width: 100%;
  display: flex;
  justify-content: right;
}

.cc {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.cc img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  border: none;
}

.cc p {
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  body {
    height: 200vh;
  }
  .pics {
    width: 26%;
    align-items: center;
    margin: 2px 2px;
  }
  img {
    width: 100%;
    height: 70%;
  }
  .first-nav nav ul li a {
    font-size: 1rem;
  }
  .class--aside {
    display: none;
  }
  aside {
    display: none;
  }
  .main--class {
    position: none;
    width: 90%;
    margin: auto;
    padding-left: 10px;
  }
  .navbar {
    position: none;
    text-indent: 5px;
    margin: 15px 5px;
  }
  .navbar ul li a {
    font-size: 0.6rem;
  }
  .cc img {
    width: 15px;
    height: 15px;
  }
  .cc p {
    font-size: 0.6rem;
  }
}
